body {
    background: #ddd;
    width: 1060px;
  }
.All {
    margin-left:25%;
    width: 960px;
   }

.Header {
    padding: 0;
    height: 57px;
    background: #fff;
    border-bottom: solid black 1px;
}

h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.My-Name {
    float: left;        
    padding: 15px;
    margin: 0;
    background: #4aaaa5;
}

li {
    display: inline;
    float: right;
    padding: 5px;
    font-family: 'Arial', 'Helvetica Neue', Arial, Helvetica, sans-serif;
       }
ul {
    margin-right: 75px;   
}

.Main-Body {
    height:100%;
    background: #fff;
    margin-top: 40px;
    border: solid black 1px;
}

.My-Pic {
    float: left;
    padding-right: 15px;
    padding-left: 20px;   
}

.About-Me {
    clear: both;
    color: #4aaaa5;    
    padding-top: 10px;
    padding-left: 60px;
    padding-bottom: 20px;
    border-bottom: solid black 1px
}

.My-Story {
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 22px;
    letter-spacing:1px;
}

footer {
    text-align: center;
    color: white;
    background: #666;
    height: 60px;
    border-top: solid #4aaaa5 5px;
    margin-top: 80px;
}

/*
Contact CSS
*/

.Contact {
    height:100%;
    background: #fff;
    margin-top: 40px;
    border: solid black 1px;
    padding: 20px;
}

.contact {
    margin: 10 20 10 20;
    border-bottom: black solid 1px;
}

textarea {
    width: 100%;
    height: 200px;
}